* {
    padding: 0;
    margin: 0;
    border: none;
    font-family: roboto;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.1);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    /*background-color: #6741d9;*/
}

.main>.content-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main>.content-top>.content-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px 20px 5px 0;
    margin: 25px;
}

.main>.content-top>.content-search>input {
    border-radius: 10px;
    width: 220px;
    font-size: 18px;
    padding: 10px 0 10px 20px;
    color: #252525;
    background-color: transparent;
    display: inline;
}

.main>.content-top>.content-search>span {
    cursor: pointer;
    color: #252525;
    font-size: 24px;
}

.loading {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 45%;
    color: #607d8b;
    font-size: 5em;
    display: none;
}

.main>.content-top>.content-date {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main>.content-top>.content-date>.date {
    color: #252525;
    font-size: 16px;
    text-align: center;
    padding: 0 10px 0 0;
}

.main>.content-top>.content-date>.date>input {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
}